@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.bg-dark {
  // background: linear-gradient(to right, rgba(0, 0, 0, 0.397) , rgba(0, 0, 0, 0));
  background-color: rgba(0, 0, 0, 0.466)!important;
}

.intro-border {
  margin-top: 70vh;
  border: 1px solid linear-gradient(to right, rgba(0, 0, 0, 0.774) , rgba(0, 0, 0, 0));
  // background-color: rgba(0, 0, 0, 0.466)!important;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.774) , rgba(0, 0, 0, 0));

}
